<html>
<head>
<title>Homepage for {{ user.nickname() }}</title>
</head>
<body>
<table>
{% for call in calls %}
<tr><td>{{ call.start_time }}</td><td>{{ call.end_time }}</td></tr>
{% endfor %}
{% for m in sms %}
<tr><td>{{ m.sent_time }}</td><td></td></tr>
{% endfor %}
</table>
</body>
